*{
  font-family: 'Ubuntu', sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  border: 0;
}

body, html{
  background-image: url("/photos/pexels-photo-988872.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  display: grid;
}

#stanjanssen{
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 140px);
  grid-template-rows: repeat(auto, 140px);
  font-size: 120px;
  text-align: center;
}

#stanjanssen p{
  color: white;
  text-shadow: #000 0px 0 50px;
}

#content{
  border-radius: 25px;
  margin: 50px 10vw;
  padding: 50px;
  background-color: #ffffff99;
}
