*{
  font-family: 'Ubuntu', sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  border: 0;
}

#header{
  padding: 10px;
  position: fixed;
  text-align: center;
  background: #1E88E5;
  opacity: .94;
  width: 100%;
}

#header p{
  color: white;
  font-size: 25px;
}

#content{
  padding-top: 55px;
  padding-bottom: 35px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: center;
}

#footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #1E88E5;
  opacity: .94;
  padding: 5px 0px;
  text-align: center;
}

#footer i{
  font-size: 10px;
  color: white;
}

#footer a{
  font-size: 10px;
  color: white;
  text-decoration: none;
}
